.app-header{
  
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav{
  height: 64px;
  padding-block: 8px;
}
.header-info{
  height: 32px;
  padding-block: 8px;
}
.logo-image{
  height: 32px;
  object-fit: contain;
}
.spacing{
  display: flex;
}
.spacing>*{
  margin-left: 6px;
}
.authentication-menu-item{
  user-select: none;
  font-size: small;
  text-decoration: none;
}